<footer class="border-t border-primary pb-8 pt-12">
  <div class="container grid grid-cols-1 justify-between sm:grid-cols-[20%_1fr_20%]">
    <div class="items-left flex flex-col">
      <a href="#" class="mb-auto font-balsamiq text-base md:text-xl">Cuddly Sheep</a>
      <p class="text-sm text-primary-200/80">Ⓒ 2023 cuddly-sheep.store</p>
    </div>

    <div class="flex flex-col items-center">
      <nav class="mb-auto ">
        <ul class="flex gap-4">
          <li>
            <a href="#" class="text-lg">Про магазин</a>
          </li>
          <li>
            <a href="#" class="text-lg">Каталог</a>
          </li>
          <li>
            <a href="#" class="text-lg">Розміри</a>
          </li>
          <li>
            <a href="#" class="text-lg">Відгуки</a>
          </li>
        </ul>
      </nav>
      <div class="flex gap-2 text-sm text-primary-200/80">
        <a href="#"> Угода користувача </a>
        /
        <a href="#"> Політика конфіденційності </a>
      </div>
    </div>

    <div class="">
      <h2 class="font-balsamiq text-lg mb-2">Зв'язок з нами</h2>
      <ul class="flex gap-2">
        <li>
          <a href="">
            <svg class="h-7 w-7 fill-primary-200">
              <use href="./sprites/sprite.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li>
         <a href="" class="">
           <svg class="h-7 w-7 fill-primary-200">
             <use href="./sprites/sprite.svg#icon-telegram"></use>
           </svg>
         </a>
       </li>
      </ul>
    </div>
  </div>
</footer>
