<footer class="border-t border-primary pb-8 pt-12 ">
  <div class="container grid grid-cols-1 gap-y-8 justify-between md:grid-cols-[1fr_1fr]">
    <div class="items-left flex flex-col order-3 md:order-1">
      <a href="/" class="font-balsamiq text-base md:text-xl mb-2 sm:mb-4 hover:text-secondary-300 transition-colors">Cuddly Sheep</a>
      <div class="flex flex-col gap-1 text-sm text-primary-200/80">
        <a href="payment-delivery.html" class="hover:text-secondary-300 transition-colors"> Доставка та оплата </a>
        <a href="policy.html" class="hover:text-secondary-300 transition-colors"> Політика конфіденційності </a>
      </div>
    </div>


    <div class="flex flex-col md:items-end order-2 md:order-3">
      <h2 class="font-balsamiq text-md mb-2 ">Зв'язок з нами</h2>
      <ul class="flex flex-col gap-2 md:items-end md:justify-end">
        <li>
          <a href="#" class="flex items-center gap-2 group">
            <svg class="h-7 w-7 fill-primary-200 shrink-0 group-hover:fill-secondary-300 transition-colors">
              <use href="./sprites/sprite.svg#icon-insta"></use>
            </svg>
            <span class="group-hover:text-secondary-300 transition-colors">cuddly_sheep</span>
          </a>
        </li>
        <li>
          <a href="mailto:cuddlysheep.store@gmail.com" class="flex items-center gap-2 group">
            <svg class="h-7 w-7 fill-primary-200 group-hover:fill-secondary-300 transition-colors shrink-0">
              <use href="./sprites/sprite.svg#icon-mail"></use>
            </svg>
            <span class="group-hover:text-secondary-300 transition-colors">cuddlysheep.store@gmail.com</span>
          </a>
       </li>
      </ul>
    </div>
  </div>
</footer>

<button id="to-top-btn" class="fixed z-[999] right-5 sm:right-8 bottom-5 sm:bottom-8 bg-white rounded-full">
  <svg class="w-10 sm:h-12 h-10 sm:w-12 rotate-90 fill-primary-200 hover:fill-secondary-300 transition-colors">
    <use href="./sprites/sprite.svg#icon-arrow-in-circle"></use>
  </svg>
</button>

