<div class="modal fixed inset-0 z-50 opacity-0 invisible transition-all duration-300 h-full w-full bg-black/50 px-4" id="success-message-modal" aria-hidden="true" data-micromodal-close>
  <div class="grid h-full w-full place-content-center">
    <div class="relative max-w-sm overflow-hidden rounded-lg flex flex-col items-center gap-4 bg-white p-6" role="dialog" aria-modal="true">
      <p class="text-center font-balsamiq text-2xl">Лист успішно надіслано!</p>
      <button class="rounded-2xl bg-primary-200 px-4 py-2 text-center font-medium text-white transition-colors hover:bg-secondary-300" data-micromodal-close type="button">Закрити</button>
    </div>
  </div>
</div>
