/* Import lib styles  */
@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/navigation/navigation.scss';
// @import '../../node_modules/swiper/modules/autoplay/autoplay.scss';
// @import '../../node_modules/swiper/modules/pagination/pagination.scss';
@import "../../node_modules/swiper/modules/free-mode/free-mode.scss";
@import '../../node_modules/aos/src/sass/aos.scss';

@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-montserrat text-primary-200;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  #burger-inner {
    &.active-burger {
      @apply [&>*:nth-child(-n+3)]:translate-x-10;
    }
  }
  #burger-cross {
    &.active-burger {
      @apply w-12 translate-x-0  [&>*:nth-child(1)]:rotate-45 [&>*:nth-child(2)]:-rotate-45;
    }
  }
  #header-nav {
    &.active-menu {
      @apply max-lg:translate-x-0;
    }
  }

  /*
    slider
  */

  .swiper-button-disabled {
    @apply opacity-40;
  }

  /*
    tabs
  */

  [data-tab-caption] {
    &.active-tab-caption {
      @apply border-b-2 border-primary;
    }
  }

  [data-tab-content] {
    @apply hidden;
    &.active-tab-content {
      @apply block;
    }
  }

  /*
    modals
  */

  .modal {
    &.is-open {
      @apply visible opacity-100;
    }
  }

  /*
    scroll to top button
  */

  #to-top-btn {
    @apply invisible opacity-0 transition-all;
    &.is-visible {
      @apply visible opacity-100;
    }
  }

  /*
    spoilers
  */

  .spoiler-trigger {
    &.active-spoiler {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  /*
    profile dropdown
  */
  .open-profile-button.dd-is-active {
    & + .sub-menu {
      @apply visible opacity-100;
    }
  }

  .has-child.dd-is-active {
    & svg {
      @apply -rotate-90;
    }
    & + .sub-menu {
      @apply lg:visible lg:translate-y-0 lg:opacity-100;
    }
  }

}

@layer utilities {
  .light-shadow {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
  }
  .custom-shadow {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  }
  .bottom-gradient {
    position: relative;
    &::after {
      content: "";
      background: rgb(255, 255, 255);
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      width: 100%;
      height: 350px;
      bottom: -10px;
      left: 0;
    }
  }
}
